body {
    background-color: lightblue; /* фоновый цвет страницы */
    color: maroon; /* цвет текста на странице */
    font-family: Arial; /* основной шрифт для текста на странице */
    margin: 0px; /* Убирает внешние отступы */
}

main{
    background-color: lightgreen;
    color: rgb(75, 0, 161);
    font-family: Arial;
    margin: 0px;
}

footer{
    background-color: lightyellow;
    color: rgb(109, 3, 43);
    font-family: Arial;
    margin: 0px;
}

header{
    background-color: lightpink;
    color: rgb(161, 124, 0);
    font-family: Arial;
    margin: 0px;
}

a{ /* ссылки */
    color: green;
    text-decoration: none;
    transition: 1s 2s; /* активироваться будет в течение 1с, задержка активации 2с */
}

a:link{ /* ни разу не посещённая ссылка */
    color: green;
    text-decoration: none;
}

a:visited{ /* посещённая ссылка */
    color: rgb(146, 107, 0);
    text-decoration: none;
}

a:hover{ /* ссылки когда на них наводят курсор */
    color: red;
    text-decoration: underline;
    text-shadow: 3px 2px 2px rgba(255, 255, 255, 0.8); /* тени */
    background-color:rgb(75, 0, 161);
    transition: 0.3s; /* активироваться будет в течение 0.3с */
}

a:active{ /* ссылки когда на них нажимают */
    color: rgba(0, 0, 0);
    opacity: 0.3; /* прозрачность */
}

div.menu{ /* блок меню */
    border: 7px solid #00c086c4; /* рамка для ссылок, толщина, цвет и прозрачность */
    border-radius: 5px; /* скругление углов рамки для ссылок*/
    width: 300px; /* ширина рамки для ссылок (иначе она в ширину на всю страницу) */
    margin: 0 auto; /* отступы сверху и снизу - 0, а слева и справа - auto (рамка получилась посередине страницы)*/
}

div.menu:hover{ /* блок меню при наведении курсора */
    background-color: #8f282830; /* фон */
    box-shadow: 0 0 15px #00000030; /* тень */
}